.musicListItemContainer {
    margin-bottom: 5px;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 10px;

}

.musicListItemindex{
    color: #666;
    min-width:40px;
    max-width: 40px;
}

.musicListSong{
    display: flex;
    justify-content: flex-start;
    align-items: center;

}

.songImg {
    border-radius: 5px;
    height: 45px;
    width: 45px;
    
}

.musicListItemSong{
    /* height: 50px; */
    /* border: 1px solid red;  */
    margin: 0px 0px 0px 15px;
    


}

.musicListItemSong{
    display: flex;
    flex-direction: column; 
    align-items: flex-end;   
}

.musicListItemName{
    margin: 0px;
    align-self: start;
    text-align: center;
    width: auto;
}

.musicListItemGroupName{
    color: #666;
    background: transparent;
    border: none;
    padding: 0px;
    margin: 0px;
}
.musicListItemGroupName:hover{
    text-decoration: underline;
     
}

.musicListItemSongDuration{
    color: #666;
}

.musicListItemButton{
    display: flex;
    justify-content:space-around;
    align-items: center;
    margin: 0px 20px 0px 0px;
    
}


.musicListItemButtonLike{
    color: #666;
    background: transparent;
    border: none;
}
.musicListItemButtonLike:hover{
    color: #EE2E55;
}


.musicListItemButtonAdd{
    color: #666;
    background: transparent;
    border: none;
}

.musicListItemButtonAdd:hover{
    color: white;
}