@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600&display=swap');
.appMain {
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
    width: 100vw;
}
* {
    font-family: 'Poppins', sans-serif;
}

.musicListItemContainer{
    display: flex;
    justify-content: space-around;
}

