.searchBox {
    position:relative;
}
.searchBox .icon {
    position:absolute;
    left:0;
    color: #ffffff;
    top:5px;
    padding:10px 20px;
}

.searchBox input {
    padding: 15px;
    min-width: 500px;
    height: 45px;
    outline: none;
    color: #fff;
    background: rgba(255, 255, 255, 0.13);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(9.1px);
    -webkit-backdrop-filter: blur(9.1px);
    border: 1px solid rgba(255, 255, 255, 0.28);
    border-radius: 30px;
    margin:4px;
    box-sizing: border-box;
    padding-left: 60px;
}

.searchBox input::placeholder {
    color: #fff;
    font-weight: lighter;
}