:root {
    --red-color: #EE2E55;
}

.nav_menu {
    flex-basis: 15rem;
    flex-shrink: 0;
    background-color: #181B25;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;

}
.subMenu {
    width: 100%;
}
.nav {
    text-align: left;
    list-style: none;
    display: flex;
    flex-direction: column;
    margin:0;
    padding: 0;
}
.nav a {
    min-width: 100%;
    display: inline-flex;
    text-decoration: none;
    justify-content: center;
    transition: all .4s ease;
    color: inherit;
}
.nav a:hover {
    color: var(--red-color);
}
.nav div {
    width: 60%;
    margin: 0 auto;
    align-self: center;
    padding: 5px 0;
    display: flex;
    align-items: center;
    font-size: 15px;
    font-weight: 300;
}
.title {
    margin-top: 20px;
    font-size: 16px;
    font-weight: 300;
    text-transform: uppercase;

}
.subMenu_header {
    display: flex;
    max-width: 60%;
    min-width: 60%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}
.subMenu_header button {
    color: var(--red-color);
    background-color: rgba(255, 255, 255, 0.06);
    border: none;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    cursor: pointer;

    transform: translateY(10%);
}
.icon {
    margin-right: 20px;
}
.active {
    color: var(--red-color);
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    box-shadow:-5px 0 0 0 var(--red-color) inset;
}

